Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

alejandra-fmt:
  name: alejandra (nix fmt)
  entry: nix develop ./dev -c alejandra
  language: system

yamllint:
  name: yamllint
  entry: nix develop ./dev -c yamllint
  language: system

actionlint:
  name: actionlint
  entry: nix develop ./dev -c actionlint
  language: system

Notes added by 'git notes add'
  32/3a29fb292e866fac60d9bfff1417cb01a704e9
Due: none

feat(fw12): add document-ingest-proto specialisation and switch-specialisation script
  flake.nix
  home/modules/scripts.nix
  hosts/fw12/configuration.nix
  scripts/switch-specialisation
  scripts_py/cli/switch_specialisation.py
  tests/test_switch_specialisation.py
Due: alejandra-fmt

Notes added by 'git notes add'
  d8/eb775fafc4079dabb989e76710000791cfe206
Due: none

Notes added by 'git notes add'
  b7/2c4f38e2f10137156232b8660ab0c125b01397
Due: none

feat: install switch-specialisation via Home Manager on all hosts
  flake.lock
  hosts/common/home-work.nix
  hosts/common/home.nix
Due: alejandra-fmt

feat: add check-flake-lock pre-commit guard
  .pre-commit-config.yaml
  devenv.nix
  scripts/check-flake-lock
  scripts_py/cli/check_flake_lock.py
  scripts_py/lib/cached_check.py
  tests/test_check_flake_lock.py
  tests/test_devenv_task_coverage.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  49/30d1d7098d25d19e16c7b85719f2a5778dff50
Due: none

fix(rebuild): pass --refresh so nix always fetches the latest main
  scripts_py/cli/rebuild_dispatch.py
Due: none

Notes added by 'git notes add'
  cf/d932e8dbc3b78e7919be6cbfbbdb8aa2435e55
Due: none

feat(switch-specialisation): add bash tab completion
  home/modules/scripts.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  99/5b8572025962af02d70f04fbdf8534590ea78c
Due: none

feat: install rebuild via HM and add bash completions for all three scripts
  home/modules/scripts.nix
  hosts/common/home-work.nix
  hosts/common/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  b7/debb92e4c645f79355840622d5d28941c75479
Due: none

feat: add shared-infra specialisation with QEMU test host prerequisites
  flake.nix
  hosts/fw12/configuration.nix
  modules/qemu-test-host.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  dc/67177acea8f2cf9f1f913712e09f36b692c13a
Due: none

refactor: centralise user definitions into users.nix registry
  flake.nix
  home/modules/core-work.nix
  home/modules/core.nix
  hosts/common/home-work.nix
  hosts/common/home.nix
  hosts/common/system.nix
  hosts/fw12/configuration.nix
  hosts/standalone/ilmari/home.nix
  hosts/standalone/tapiiri-wsl/home.nix
  hosts/standalone/tapiiri/home.nix
  tests/test_switch_specialisation.py
  users.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  00/7b9ece0bad6649e8fe04d9a83a74528d223f9e
Due: none

feat: add Moonlight game streaming client module
  home/modules/default.nix
  home/modules/moonlight.nix
  hosts/common/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  8d/da320626dc2dca420bb4d0d3f21eaa01070dbf
Due: none

fix(ci): skip local path inputs in flake lock update workflow
  .github/workflows/update-flake-lock.yml
  scripts/remote-flake-inputs
  scripts_py/cli/remote_flake_inputs.py
  tests/test_remote_flake_inputs.py
Due: yamllint, actionlint

Notes added by 'git notes add'
  ae/898c2edbde0a482b9e4f6ec5deeec8c06a25cb
Due: none

chore(schemastore): refresh schema cache
  schemas/schemastore-index.json
Due: none

feat: add ilmari-offeri user for Offeri/tarjousai work
  devenv.nix
  docs/site/architecture.md
  home/modules/core.nix
  home/modules/cursor.nix
  home/modules/default.nix
  home/modules/linear.nix
  home/modules/notion.nix
  home/modules/outlook-web.nix
  home/modules/teams.nix
  hosts/common/home-offeri.nix
  hosts/standalone/ilmari-offeri/home.nix
  users.nix
Due: alejandra-fmt

feat: remove previous employer flake inputs and config
  .pre-commit-config.yaml
  devenv.nix
  flake.lock
  flake.nix
  hosts/common/home-work.nix
  hosts/fw12/configuration.nix
  hosts/fw16/configuration.nix
  scripts_py/cli/switch_specialisation.py
  scripts_py/lib/cached_check.py
  tests/test_switch_specialisation.py
Due: alejandra-fmt, yamllint

fix: update rotated cache keys and add pre-rebuild cache health check
  cachix-caches.nix
  home/modules/browsers.nix
  hosts/common/system.nix
  scripts_py/cli/rebuild.py
  scripts_py/lib/cache_health.py
  tests/test_cache_health.py
Due: alejandra-fmt

fix: resolve code scanning alerts for URL sanitization and vulnerable deps
  docs/requirements.in
  docs/requirements.txt
  scripts_py/lib/cache_health.py
Due: none

fix: pass cache config from source tree to avoid stale /etc/nix/nix.conf
  scripts_py/cli/rebuild.py
  tests/test_rebuild.py
Due: none

fix: load cache config from synced source tree, not installed package
  scripts_py/cli/rebuild.py
  tests/test_rebuild.py
Due: none

fix: remove standalone secretspec, now bundled in devenv 2.2.0
  home/modules/devtools.nix
Due: alejandra-fmt

feat: add Smile emoji picker with a GNOME shortcut
  home/modules/default.nix
  home/modules/emoji.nix
  hosts/common/home.nix
Due: alejandra-fmt

feat: enable fingerprint auth for sudo and polkit on fw16
  docs/site/guides/fingerprint.md
  hosts/fw16/configuration.nix
  mkdocs.yml
Due: alejandra-fmt, yamllint

fix: clear pre-commit migration mode left by devenv hook reinstalls
  devenv.nix
  scripts/repair-git-hooks
  scripts_py/cli/repair_git_hooks.py
  tests/test_repair_git_hooks.py
Due: alejandra-fmt

fix: select a seated session in switch-user, not the first match
  scripts_py/cli/switch_user.py
  tests/test_switch_user.py
Due: none

feat: package Grok Bot desktop app from the upstream .deb
  home/modules/default.nix
  home/modules/grok-bot.nix
  pkgs/apps/grok-bot.nix
Due: alejandra-fmt

feat: enable grok-bot for home-offeri
  hosts/common/home-offeri.nix
Due: alejandra-fmt

feat: package PostHog Desktop from the upstream .deb
  docs/site/architecture.md
  home/modules/default.nix
  home/modules/posthog-desktop.nix
  pkgs/apps/posthog-desktop.nix
Due: alejandra-fmt

feat: enable posthog-desktop for home-offeri
  hosts/common/home-offeri.nix
Due: alejandra-fmt

feat: boot the fw16 enclosure ahead of Windows by default
  flake.nix
  hosts/fw16/configuration.nix
  modules/efi-boot-order.nix
Due: alejandra-fmt

Path conditions:
  alejandra-fmt: any of: (^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)
  yamllint: any of: .*\.ya?ml$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
