Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nix-flake-check
        name: nix flake check
        entry: nix develop ./dev -c nix flake check
        language: system
        pass_filenames: false
      - id: alejandra-fmt
        name: alejandra (nix fmt)
        entry: nix develop ./dev -c alejandra
        language: system
        files: '(^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)'
      - id: yamllint
        name: yamllint
        entry: nix develop ./dev -c yamllint
        language: system
        files: '.*\.ya?ml$'
      - id: actionlint
        name: actionlint
        entry: nix develop ./dev -c actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: ruff-check
        name: ruff check
        entry: nix develop ./dev -c ruff check scripts_py tests
        language: system
        pass_filenames: false
      - id: python-pytest
        name: pytest
        entry: nix develop ./dev -c pytest -q tests
        language: system
        pass_filenames: false

feat: add cached pytest runner with file-level attestation
  .pre-commit-config.yaml
  devenv.nix
  home/features/vscode/default.nix
  scripts/cached-pytest
  scripts_py/cli/cached_pytest.py
  scripts_py/lib/depmap.py
  scripts_py/lib/test_attestation.py
  tests/test_cached_pytest.py
  tests/test_depmap.py
  tests/test_devenv_task_coverage.py
  tests/test_test_attestation.py
Due: alejandra-fmt, yamllint

fix: update default Python interpreter path in VSCode settings
  .vscode/settings.json
Due: none

feat: add pytest plugin for file-level test attestations and improve test watcher documentation
  devenv.nix
  scripts_py/lib/depmap.py
  tests/conftest.py
Due: alejandra-fmt

feat: add auto-run tests on file save and improve conftest.py documentation
  .vscode/settings.json
  home/features/vscode/default.nix
  tests/conftest.py
  tests/test_depmap.py
Due: alejandra-fmt

Notes added by 'git notes add'
  d7a3366a77adafc65ee10e3c585130380e513c5b
Due: none

fix: update devenv.lock with new lastModified timestamps and narHashes
  .pre-commit-config.yaml
  devenv.lock
Due: yamllint

feat: update schemastore index and add tests to prevent false-positive schema matches
  schemas/schemastore-index.json
  scripts_py/cli/sync_schemastore_index.py
  tests/test_schemastore.py
Due: none

feat: implement cached nix check with attestation support and add tests
  .pre-commit-config.yaml
  devenv.nix
  scripts/cached-nix-check
  scripts_py/cli/cached_nix_check.py
  scripts_py/lib/nix_check_attestation.py
  tests/test_cached_nix_check.py
  tests/test_devenv_task_coverage.py
  tests/test_nix_check_attestation.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  596046a02e92cd20288e4855bf45ede59c60e7b7
Due: none

feat: add support for shfmt, taplo, and jq in devenv and update tooling audit
  .pre-commit-config.yaml
  devenv.nix
  tooling-audit.toml
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  d3152db8fc6bc2e4b08d013970b0eb370f796c4f
Due: none

feat: implement post-commit attestation verification and add related tests
  .pre-commit-config.yaml
  README.md
  devenv.nix
  scripts_py/ci/attest_ci_checks.py
  tests/test_attest_ci_checks.py
  tests/test_devenv_task_coverage.py
Due: alejandra-fmt, yamllint

Refactor CLI scripts to improve type annotations and logging
  .pre-commit-config.yaml
  devenv.nix
  pyproject.toml
  scripts_py/ci/attest_ci_checks.py
  scripts_py/ci/check_ci_attestation.py
  scripts_py/ci/ci_attestation_gate.py
  scripts_py/cli/add_secret.py
  scripts_py/cli/audit_tooling.py
  scripts_py/cli/cached_nix_check.py
  scripts_py/cli/cached_pytest.py
  scripts_py/cli/ensure_cachix_cache.py
  scripts_py/cli/ensure_lpass_login.py
  scripts_py/cli/ensure_password_manager_login.py
  scripts_py/cli/import_dotfiles.py
  scripts_py/cli/rebuild.py
  scripts_py/cli/setup_links.py
  scripts_py/cli/sync_github_labels.py
  scripts_py/cli/sync_schemastore_index.py
  scripts_py/cli/sync_vscode_settings.py
  scripts_py/cli/update_github_env.py
  scripts_py/cli/validate_schemastore_schemas.py
  scripts_py/lib/tooling_audit.py
  scripts_py/lib/tooling_discovery.py
  scripts_py/lib/utils.py
  tests/conftest.py
  tests/test_add_secret.py
  tests/test_attest_ci_checks.py
  tests/test_ci_attestation_gate.py
  tests/test_depmap.py
  tests/test_ensure_cachix_cache.py
  tests/test_nix_check_attestation.py
  tests/test_rebuild.py
  tests/test_rebuild_dispatch.py
  tests/test_setup_links.py
  tests/test_tooling_audit.py
  tests/test_update_github_env.py
  tooling-audit.toml
Due: alejandra-fmt, yamllint

feat: add Pylance extension and enable strict type checking for Python in VS Code
  home/features/vscode/default.nix
  tooling-audit.toml
Due: alejandra-fmt

feat: update nix flake check task to include attestation and use cached script
  devenv.nix
Due: alejandra-fmt

feat: update local attestation verification to remove max age limit and adjust tests
  scripts_py/ci/attest_ci_checks.py
  tests/test_attest_ci_checks.py
Due: none

Notes added by 'git notes add'
  0404c471c0b23127273ba83fd8342f55fd758e56
Due: none

feat: update pre-commit configuration and ensure post-commit checks always run
  .pre-commit-config.yaml
  devenv.nix
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  a4eb1bd53d65c27a104b4d34232a77566ffb1bcd
Due: none

chore: add attestation pipeline comment to devenv.nix
  devenv.nix
Due: alejandra-fmt

feat: invalidate all attestations and run all tests on global config changes
  devenv.nix
  scripts_py/cli/cached_pytest.py
  tests/test_cached_pytest.py
Due: alejandra-fmt

Notes added by 'git notes add'
  cceca39b20d858a9f8af37b0216ce0d8820d7299
Due: none

feat: add ESP32 development support and project files
  flake.nix
  hosts/nixos/configuration.nix
  modules/esp32-dev.nix
  projects/esp32-ir/.gitignore
  projects/esp32-ir/README.md
  projects/esp32-ir/devenv.nix
  projects/esp32-ir/devenv.yaml
  projects/esp32-ir/platformio.ini
  projects/esp32-ir/src/main.cpp
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  1d72715a5e6dfe4a85afd7d6c4e4d7161d538d03
Due: none

feat: add nix-ld for esp32 module
  modules/esp32-dev.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  8eb69ccde33c89cd286f87dd906dc12f03a2a834
Due: none

feat: update devenv configuration for ESP32 project and add additional tasks
  projects/esp32-ir/devenv.lock
  projects/esp32-ir/devenv.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  b359186d1eb1a8b8baef71c0c74428bc6ec5c30b
Due: none

fix: simplify command usage in documentation by removing unnecessary shell invocations
  .github/copilot-instructions.md
  README.md
Due: none

Notes added by 'git notes add'
  e51d674fe093bf2e678dde736822210d4d331729
Due: none

feat: add MkDocs documentation setup and GitHub Pages deployment workflow
  .github/workflows/docs.yml
  .gitignore
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  devenv.nix
  mkdocs.yml
  scripts/setup-github-pages
  scripts_py/cli/setup_github_pages.py
  tests/test_setup_github_pages.py
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  fc439aeb411b84dfad09ab5b31b5dc40092af4d8
Due: none

feat: add SECRETSPEC_PROVIDER environment variable to GitHub Actions workflow
  .github/workflows/docs.yml
Due: yamllint, actionlint

Notes added by 'git notes add'
  cdb1f12e38c7667939764e697bdfbbe46d55a090
Due: none

feat: add SECRETSPEC_PROVIDER environment variable to update-flake-lock workflow
  .github/workflows/update-flake-lock.yml
Due: yamllint, actionlint

Notes added by 'git notes add'
  ea008ce82725396ae1a05032a4bbf8028e7877c3
Due: none

feat: add initial documentation structure with MkDocs and various topic pages
  .gitignore
  docs/site/architecture.md
  docs/site/dev-environment.md
  docs/site/index.md
  docs/site/quickstart.md
  docs/site/reference/vscode-extensions.md
  docs/site/reference/vscode-settings.md
  docs/site/scripts.md
  docs/site/troubleshooting.md
Due: none

Notes added by 'git notes add'
  28549aabd482dd49a4ae45812ff603f4d69ff8a6
Due: none

Add comprehensive documentation for Git, CI attestation, rebuild workflow, and secrets management
  .github/copilot-instructions.md
  README.md
  docs/VSCODE-EXTENSIONS-MARKETPLACE.md
  docs/VSCODE-SETTINGS.md
  docs/site/architecture.md
  docs/site/dev-environment.md
  docs/site/git-github.md
  docs/site/guides/ci-attestation.md
  docs/site/guides/rebuild.md
  docs/site/guides/secrets.md
  docs/site/index.md
  docs/site/quickstart.md
  docs/site/reference/vscode-extensions.md
  docs/site/reference/vscode-settings.md
  docs/site/scripts.md
  docs/site/troubleshooting.md
  mkdocs.yml
Due: yamllint
