Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

alejandra-fmt:
  name: alejandra (nix fmt)
  entry: nix develop ./dev -c alejandra
  language: system

yamllint:
  name: yamllint
  entry: nix develop ./dev -c yamllint
  language: system

actionlint:
  name: actionlint
  entry: nix develop ./dev -c actionlint
  language: system

Notes added by 'git notes add'
  2767f2493733203aae8d9b5a25c113b605b329b8
Due: none

chore: rename Cachix caches to tapiiri-nixos-setup
  .github/workflows/docs.yml
  .github/workflows/update-flake-lock.yml
  .vars
  devenv.nix
  hosts/nixos/configuration.nix
  scripts_py/cli/ensure_cachix_cache.py
  tests/test_ensure_cachix_cache.py
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  43156a45a8069953c7338ff45d16743b1b92b3e5
Due: none

feat: add environment and cache configuration to update-flake-lock workflow
  .github/workflows/update-flake-lock.yml
Due: yamllint, actionlint

Notes added by 'git notes add'
  3852ae9a913ae94f355adac14c054751fd8bca7c
Due: none

feat: generic cached-check engine for all pre-commit hooks
  .pre-commit-config.yaml
  devenv.nix
  scripts/cached-check
  scripts_py/ci/attest_ci_checks.py
  scripts_py/cli/cached_check.py
  scripts_py/lib/cached_check.py
  tests/test_attest_ci_checks.py
  tests/test_cached_check.py
  tests/test_devenv_task_coverage.py
Due: alejandra-fmt, yamllint

fix: exclude formatter checks from CI attestation verification
  scripts_py/ci/attest_ci_checks.py
  scripts_py/lib/cached_check.py
  tests/test_attest_ci_checks.py
  tests/test_cached_check.py
Due: none

Notes added by 'git notes add'
  eb6c8f151288e0d233d712f5192051fb3cd8b2d8
Due: none

chore: format files previously left unformatted
  .vscode/settings.json
  dotfiles/home/bashrc
  schemas/schemastore/2df6da074dc243a3c8cd.json
  schemas/schemastore/681afa0e8caca3d431bb.json
  schemas/schemastore/925d3ca34190dec0915f.json
  schemas/schemastore/aae416c00725cbcce106.json
  schemas/schemastore/e0b5666ce320696aceb8.json
Due: none

Refactor code structure for improved readability and maintainability
  .github/workflows/docs.yml
  docs/requirements.txt
Due: yamllint, actionlint

feat: implement auto-recovery for stale local attestations in CI checks
  .pre-commit-config.yaml
  devenv.nix
  scripts_py/ci/attest_ci_checks.py
  tests/test_attest_ci_checks.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  a031e1b6e8aee8e19edfd52d13d9c5ca6003630b
Due: none

feat: enable Cachix push for CI in devenv configuration
  .github/workflows/ci.yml
  devenv.nix
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  ad1713a2268bcaaee1838fbd4b2a43f0ca36a82b
Due: none

fix: update pre-commit hooks to remove password manager dependency and disable secretspec
  .pre-commit-config.yaml
  devenv.nix
  devenv.yaml
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  4f4f59668ba31bda5ee714231986bd315b31529f
Due: none

feat: enhance background check watchers for improved file monitoring and caching
  devenv.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  d7dd06d90c3cad4edbff847345d4f678e7e5b444
Due: none

refactor: consolidate all caching onto generic cached-check system
  .pre-commit-config.yaml
  devenv.nix
  docs/site/guides/ci-attestation.md
  docs/site/scripts.md
  scripts/cached-nix-check
  scripts/cached-pytest
  scripts_py/ci/attest_ci_checks.py
  scripts_py/cli/cached_nix_check.py
  scripts_py/cli/cached_pytest.py
  scripts_py/lib/cached_check.py
  scripts_py/lib/depmap.py
  scripts_py/lib/nix_check_attestation.py
  scripts_py/lib/test_attestation.py
  tests/conftest.py
  tests/test_attest_ci_checks.py
  tests/test_cached_nix_check.py
  tests/test_cached_pytest.py
  tests/test_depmap.py
  tests/test_devenv_task_coverage.py
  tests/test_nix_check_attestation.py
  tests/test_test_attestation.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  ba31b0d35342ef35cde0d56038ad34327045c2ea
Due: none

feat: add --push-only option for pre-push attestation in CI checks
  .pre-commit-config.yaml
  devenv.nix
  scripts_py/ci/attest_ci_checks.py
  tests/test_attest_ci_checks.py
  tests/test_devenv_task_coverage.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  f29eb9bc9f1e4458bd859887046a9b6d34404045
Due: none

refactor: remove preflight flow documentation for secrets management
  docs/site/dev-environment.md
  docs/site/guides/secrets.md
Due: none

Notes added by 'git notes add'
  83315107bf8e5678279ec5de2dee8bfcb8818373
Due: none

refactor: remove direnv
  .envrc
  .gitignore
  dotfiles/home/bashrc
  home/features/vscode/default.nix
  home/modules/devtools.nix
  scripts_py/lib/password_manager.py
  scripts_py/lib/tooling_discovery.py
Due: alejandra-fmt

Notes added by 'git notes add'
  61390ade2d47bfc2eaa2995424b72d91f0fd9c45
Due: none

chore: update dependencies in devenv.lock and pre-commit-config.yaml
  .pre-commit-config.yaml
  devenv.lock
Due: yamllint

Notes added by 'git notes add'
  4f0d652ee4b4d8a8af232cd2b2b406e2b7ffd981
Due: none

fix: update pygments version to 2.19.2 and adjust hashes
  docs/requirements.txt
Due: none

Notes added by 'git notes add'
  41e801dfd2142309efe61ea0035645b406c76015
Due: none

refactor: remove .envrc file and related devenv configurations
  .envrc
Due: none

Notes added by 'git notes add'
  27ebb6bc43f05d95aa20f620d90baf3a7d201f4a
Due: none

feat: add claude-code to development packages
  home/modules/devtools.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  25f58932b243045878ca6873c602750671e17778
Due: none

refactor: enhance hook task mapping and validation in test coverage
  devenv.nix
  tests/test_devenv_task_coverage.py
Due: alejandra-fmt

Notes added by 'git notes add'
  525e142a5c7335c84647c63aa7ddf32fc7787b56
Due: none

feat: enable ollama service in configuration
  hosts/nixos/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  2eb98085511c446cf6305e2a10ad48336675b2de
Due: none

Notes added by 'git notes add'
  261f0334cd084fd998b0c14ab35157314a2de734
Due: none

Path conditions:
  alejandra-fmt: any of: (^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)
  yamllint: any of: .*\.ya?ml$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
