Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nix-flake-check
        name: nix flake check
        entry: nix develop ./dev -c nix flake check
        language: system
        pass_filenames: false
      - id: alejandra-fmt
        name: alejandra (nix fmt)
        entry: nix develop ./dev -c alejandra
        language: system
        files: '(^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)'
      - id: yamllint
        name: yamllint
        entry: nix develop ./dev -c yamllint
        language: system
        files: '.*\.ya?ml$'
      - id: actionlint
        name: actionlint
        entry: nix develop ./dev -c actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: ruff-check
        name: ruff check
        entry: nix develop ./dev -c ruff check scripts_py tests
        language: system
        pass_filenames: false
      - id: python-pytest
        name: pytest
        entry: nix develop ./dev -c pytest -q tests
        language: system
        pass_filenames: false

feat: enhance pre-commit configuration to include pre-merge-commit hooks for better CI attestation
  .pre-commit-config.yaml
  devenv.nix
  docs/site/guides/ci-attestation.md
  scripts_py/ci/attest_ci_checks.py
  tests/test_devenv_task_coverage.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  379fca9f9fac008f6d54a88d89705c5b1cf58ae3
Due: none

feat: add code scanning alerts skill documentation for GitHub integration
  .github/copilot-instructions.md
  .github/instructions/code-scanning.instructions.md
Due: none

Notes added by 'git notes add'
  ef04f05b297bb737c7cf2d7c38415bd1ddf7b3ec
Due: none

chore: update action versions and permissions in CI workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/scorecard.yml
  .github/workflows/update-flake-lock.yml
Due: yamllint, actionlint

Notes added by 'git notes add'
  f7a69657eaac43d324426eb24ea6766d36486ad7
Due: none

feat: add security policy for reporting vulnerabilities
  SECURITY.md
Due: none

Notes added by 'git notes add'
  c9373b72f882f849667db2d91a8bfb6f02c6f514
Due: none

feat: add MIT License to the project
  LICENSE
Due: none

Notes added by 'git notes add'
  4860cc73ca7ef73f4545b77ed998e8fea471df56
Due: none

feat: add build-system job to CI workflow and configure Nix settings for Cachix
  .github/workflows/ci.yml
  hosts/nixos/configuration.nix
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  e58e20b4909609e85929ad3150f2ce4d5b2e6d9e
Due: none

feat: add Thunderbird module and update home configuration
  .gitignore
  home/modules/default.nix
  home/modules/thunderbird.nix
  hosts/nixos/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  865ae0c4a7f35a8d7dcb9ada057969ace77e21a0
Due: none

fix: update Git configuration to use 'settings' instead of 'extraConfig' for user details
  home/modules/git.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  3226bf5f816e36a166351337eb2a5ca270712e96
Due: none

feat: enable Thunderbird package installation in home configuration
  home/modules/thunderbird.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  c4a770a9b8182567f295bc027ccbf4ebb8336eea
Due: none

feat: add core-work module and home-work configuration for Ilmari Tarpila
  home/modules/core-work.nix
  home/modules/git.nix
  hosts/nixos/configuration.nix
  hosts/nixos/home-work.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  465670d0c3eee58e1eb4fee44af551a894e7d32a
Due: none

fix: correct email address in Git settings
  home/modules/git.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  aa8ad1c77d765c4a368ff1d3a63535dfd2b5f9c7
Due: none

fix: update description for user ilmari in configuration
  hosts/nixos/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  7151425c5e99a96cfcdb864c5dc327198cb94cd7
Due: none

feat: enable onepassword module in home configuration
  hosts/nixos/home-work.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  fc724b3ac2bd24c65bfe54e694d95ada609cee17
Due: none

feat: add user switch functionality with GDM session support
  flake.nix
  home/modules/default.nix
  home/modules/user-switch.nix
  hosts/nixos/home-work.nix
  hosts/nixos/home.nix
  scripts/switch-user
  scripts_py/cli/switch_user.py
  tests/test_switch_user.py
Due: alejandra-fmt

Notes added by 'git notes add'
  08826b59d31420fc116d15c58fa72a67e62e10ad
Due: none

Notes added by 'git notes add'
  185fa319308ee7a7892634a78ee19b5e2478456e
Due: none

feat: enhance user switching functionality with loginctl integration
  flake.nix
  scripts_py/cli/cached_pytest.py
  scripts_py/cli/switch_user.py
  tests/test_switch_user.py
Due: alejandra-fmt

Notes added by 'git notes add'
  dce94dc0d22b25e2580cc71876123b7e53474939
Due: none

feat: refactor script packaging and replace user-switch module with scripts.nix
  flake.nix
  home/modules/default.nix
  home/modules/scripts.nix
  home/modules/user-switch.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  236f2e49cff2cedf7cd8ed6dfe45f8d45049e889
Due: none

feat: integrate 1Password with NixOS system modules for CLI and GUI support
  home/modules/onepassword.nix
  hosts/nixos/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  91efd0892710a232423d0dfe0c6303a1db4ff9f0
Due: none

feat: migrate from LastPass to 1Password for password management integration
  devenv.nix
  docs/site/architecture.md
  docs/site/guides/secrets.md
  docs/site/scripts.md
  docs/site/troubleshooting.md
  home/modules/default.nix
  home/modules/lastpass-cli.nix
  hosts/nixos/home-work.nix
  hosts/nixos/home.nix
  scripts/ensure-lpass-login
  scripts_py/cli/add_secret.py
  scripts_py/cli/ensure_lpass_login.py
  scripts_py/cli/ensure_password_manager_login.py
  scripts_py/lib/password_manager.py
  tests/test_add_secret.py
  tests/test_ensure_lpass_login.py
  tests/test_onepassword_backend.py
  tests/test_scripts_wrappers.py
Due: alejandra-fmt

Notes added by 'git notes add'
  7af0653f10a11d258104fcaae214ec6d6960e2d0
Due: none

feat: update secretspec configuration and remove default value for CACHIX_AUTH_TOKEN
  devenv.nix
  devenv.yaml
  secretspec.toml
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  715bb2fe6086b313ad60021bb529d221a7e1058c
Due: none

feat: implement interactive signin for OnePassword backend and add tests
  scripts_py/cli/ensure_password_manager_login.py
  scripts_py/lib/password_manager.py
  tests/test_onepassword_backend.py
Due: none
