Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nix-flake-check
        name: nix flake check
        entry: nix develop ./dev -c nix flake check
        language: system
        pass_filenames: false
      - id: alejandra-fmt
        name: alejandra (nix fmt)
        entry: nix develop ./dev -c alejandra
        language: system
        files: '(^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)'
      - id: yamllint
        name: yamllint
        entry: nix develop ./dev -c yamllint
        language: system
        files: '.*\.ya?ml$'
      - id: actionlint
        name: actionlint
        entry: nix develop ./dev -c actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: ruff-check
        name: ruff check
        entry: nix develop ./dev -c ruff check scripts_py tests
        language: system
        pass_filenames: false
      - id: python-pytest
        name: pytest
        entry: nix develop ./dev -c pytest -q tests
        language: system
        pass_filenames: false

feat: configure Python linting and formatting with Ruff
  .vscode/settings.json
Due: none

feat: use devenv for development environments
  .github/copilot-instructions.md
  .gitignore
  .vscode/settings.json
  README.md
  dev/flake.lock
  dev/flake.nix
  devenv.lock
  devenv.nix
  devenv.yaml
  home/features/vscode/default.nix
  home/modules/devtools.nix
  scripts/code
  scripts/devshell
  scripts_py/code.py
  scripts_py/devshell.py
  tests/test_code.py
  tests/test_devshell.py
Due: alejandra-fmt, yamllint

feat: configure direnv
  dotfiles/home/bashrc
Due: none

feat: shellcheck for pre-commit tests
  .pre-commit-config.yaml
  devenv.nix
  dotfiles/home/bashrc
  home/features/vscode/activation-vscode-settings.sh.tpl
Due: alejandra-fmt, yamllint

feat: add direnv vscode extenstion
  home/features/vscode/default.nix
Due: alejandra-fmt

feat: rework tests to live in devenv tasks
  .github/copilot-instructions.md
  .github/workflows/pre-commit.yml
  .github/workflows/update-flake-lock.yml
  .pre-commit-config.yaml
  README.md
  devenv.nix
Due: alejandra-fmt, yamllint, actionlint

feat: tailscale client
  home/modules/default.nix
  home/modules/tailscale.nix
  hosts/nixos/home.nix
Due: alejandra-fmt

feat: tailscaled system process
  flake.nix
  home/modules/tailscale.nix
  hosts/nixos/configuration.nix
  modules/tailscale.nix
Due: alejandra-fmt

fix: devenv in ci
  .github/workflows/pre-commit.yml
Due: yamllint, actionlint

feat: cache nix in ci
  .github/workflows/pre-commit.yml
Due: yamllint, actionlint

feat: use pre-commit through devenv
  .pre-commit-config.yaml
  devenv.nix
Due: alejandra-fmt, yamllint

chore: rewrite readme
  README.md
Due: none

feat: github label sync script
  .github/labels.yml
  scripts/sync-github-labels
  scripts_py/sync_github_labels.py
  tests/test_scripts_wrappers.py
  tests/test_sync_github_labels.py
Due: yamllint

feat: rename pre-commit action to ci; use devenv from nixpkgs ephemerally to have it cacheable
  .github/workflows/ci.yml
Due: yamllint, actionlint

feat: use cachix
  .github/workflows/ci.yml
  .github/workflows/update-flake-lock.yml
  home/modules/devtools.nix
  pyproject.toml
  scripts/ensure-cachix-cache
  scripts_py/ensure_cachix_cache.py
  tests/test_ensure_cachix_cache.py
Due: alejandra-fmt, yamllint, actionlint

feat: lastpass cli
  home/modules/default.nix
  home/modules/lastpass-cli.nix
  hosts/nixos/home.nix
Due: alejandra-fmt

fix: apply a patch to lastpass to fix cmake issue
  home/modules/lastpass-cli.nix
Due: alejandra-fmt

feat: add secretspec
  home/modules/devtools.nix
Due: alejandra-fmt

feat: set up secretspec in devenv
  devenv.yaml
  secretspec.toml
Due: yamllint

feat: use add-secret to write to both lastpass and secretspec a new secret
  devenv.nix
  pyproject.toml
  scripts/add-secret
  scripts_py/add_secret.py
  secretspec.toml
  tests/test_add_secret.py
Due: alejandra-fmt

fix: ci pipeline with recommended devenv and secretspec setup
  .github/workflows/ci.yml
Due: yamllint, actionlint

chore: secretspec dotenv provider and cachix auth token in it
  .gitignore
  devenv.nix
  secretspec.toml
Due: alejandra-fmt

feat: script to update Github environment secrets
  scripts/update-github-env
  scripts_py/update_github_env.py
  tests/test_update_github_env.py
Due: none

fix: adjust secret path in LastPass to comply with secretspec provider functionality
  scripts_py/add_secret.py
  tests/test_add_secret.py
Due: none

feat: atempt to use cachix cache in CI
  .github/workflows/ci.yml
  .vars
Due: yamllint, actionlint

fix: ajust ci to define environment and related secrets and variables in the job
  .github/workflows/ci.yml
Due: yamllint, actionlint

fix: rename cache to comply with cachix naming
  .github/workflows/ci.yml
Due: yamllint, actionlint

feat: allow tapiiri user to manage binary caches on the machine
  hosts/nixos/configuration.nix
Due: alejandra-fmt

feat: configure devenv to use cachix itself
  devenv.nix
Due: alejandra-fmt

fix: install git for gitFull pkg directly
  home/modules/git.nix
Due: alejandra-fmt

feat: reove CopilotChat extension, add Actions extension
  home/features/vscode/default.nix
Due: alejandra-fmt

feat: add LastPass login check for pre-commit hooks and scripts
  .pre-commit-config.yaml
  README.md
  devenv.nix
  scripts/ensure-lpass-login
  scripts_py/ensure_lpass_login.py
  tests/test_ensure_lpass_login.py
  tests/test_scripts_wrappers.py
Due: alejandra-fmt, yamllint

feat: refactor authentication handling to support multiple password managers
  .pre-commit-config.yaml
  README.md
  devenv.nix
  scripts/ensure-password-manager-login
  scripts_py/add_secret.py
  scripts_py/ensure_lpass_login.py
  scripts_py/ensure_password_manager_login.py
  scripts_py/password_manager.py
  tests/test_add_secret.py
  tests/test_scripts_wrappers.py
Due: alejandra-fmt, yamllint

feat: implement CI attestation mechanism to skip checks based on local runs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .yamllint
  README.md
  devenv.nix
  scripts/attest-ci-checks
  scripts/check-ci-attestation
  scripts/ci-attestation-gate
  scripts_py/attest_ci_checks.py
  scripts_py/check_ci_attestation.py
  scripts_py/ci_attestation_gate.py
  tests/test_ci_attestation_gate.py
  tests/test_scripts_wrappers.py
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  6afb7696947b18429df8a8b8ed59134e5df00f0b
Due: none

fix: update file permissions for ci-attestation-gate script
  scripts/ci-attestation-gate
Due: none

Notes added by 'git notes add'
  033e1ec7ad2ec61e714e4b8d0a96d1756451e666
Due: none

Add SchemaStore integration and validation scripts
  .github/dependabot.yml
  .github/workflows/update-flake-lock.yml
  .pre-commit-config.yaml
  devenv.nix
  schemas/schemastore-index.json
  schemas/schemastore/2df6da074dc243a3c8cd.json
  schemas/schemastore/681afa0e8caca3d431bb.json
  schemas/schemastore/925d3ca34190dec0915f.json
  schemas/schemastore/aae416c00725cbcce106.json
  schemas/schemastore/e0b5666ce320696aceb8.json
  scripts/sync-schemastore-index
  scripts/validate-schemastore-schemas
  scripts_py/schemastore.py
  scripts_py/sync_schemastore_index.py
  scripts_py/validate_schemastore_schemas.py
  tests/test_schemastore.py
  tests/test_scripts_wrappers.py
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  259a86f1b343974716bc60477492c14054314fbf
Due: none

fix: update permissions for CI jobs in workflows
  .github/workflows/ci.yml
  .github/workflows/update-flake-lock.yml
Due: yamllint, actionlint
