Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nix-flake-check
        name: nix flake check
        entry: nix develop ./dev -c nix flake check
        language: system
        pass_filenames: false
      - id: alejandra-fmt
        name: alejandra (nix fmt)
        entry: nix develop ./dev -c alejandra
        language: system
        files: '(^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)'
      - id: yamllint
        name: yamllint
        entry: nix develop ./dev -c yamllint
        language: system
        files: '.*\.ya?ml$'
      - id: actionlint
        name: actionlint
        entry: nix develop ./dev -c actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: ruff-check
        name: ruff check
        entry: nix develop ./dev -c ruff check scripts_py tests
        language: system
        pass_filenames: false
      - id: python-pytest
        name: pytest
        entry: nix develop ./dev -c pytest -q tests
        language: system
        pass_filenames: false

feat: implement Cachix binary cache management and integrate into Home Manager
  .github/workflows/ci.yml
  cachix-caches.nix
  devenv.nix
  flake.nix
  home/modules/default.nix
  home/modules/nix-caches.nix
  hosts/nixos/configuration.nix
  hosts/standalone/tapiiri-wsl/home.nix
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  23023972b51f3e92f14f7d4c6655dd1685b86fba
Due: none

fix: devenv continuous processes
  devenv.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  f4e4aaa28235c66650c0c6f0bfa37f3c825d1fc8
Due: none

chore: clear deprecation warnings
  home/modules/scripts.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  a2047a05d7c6d2c24dfd32f909c3d2bc2d286615
Due: none

perf: tune VSCode for reduced resource contention
  home/features/vscode/default.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  18679edc26471fa9d0023b9a439d0b6fc4da4a6a
Due: none

feat: add earlyoom and bottom for system-level observability
  home/modules/devtools.nix
  hosts/nixos/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  edab4a6b5b25d4252b6d32bb41e5359df905300c
Due: none

Notes added by 'git notes add'
  eb710ac74ad9900a7b5799e482dc303283ab0f12
Due: none

Notes added by 'git notes add'
  306197eb2c02a36115d3169ea08e618f53ff12bd
Due: none

feat: add check report for dev observability
  scripts/check-report
  scripts_py/cli/check_report.py
Due: none

Notes added by 'git notes add'
  e1/43bcd6e4c07fcac6e9d5861e6254233000a276
Due: none

feat: add VSCode resource monitor and developer logging
  home/features/vscode/default.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  12/d00cc4d045352c50b82f0b2b0fb4b271a05b27
Due: none

feat: add Zellij terminal multiplexer module and enable it in Home Manager
  home/modules/default.nix
  home/modules/zellij.nix
  hosts/nixos/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  83/cfa864ba9fab774c6d865cc1276b8ef63e0b7f
Due: none

feat: enable HTTPS support for funnel service in configuration
  hosts/nixos/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  02/2fdae2dc6d6bce23d4c578435626c0b3cceae7
Due: none

feat: reset stale funnel configuration before setting up new one
  modules/tailscale.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  99/ceac06da8df38ab488e25571c91e1dd40fa053
Due: none

feat: add affinity module and integrate it into Home Manager configuration
  flake.lock
  flake.nix
  home/modules/affinity.nix
  home/modules/default.nix
  hosts/standalone/tapiiri/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  93/68475c16b013a05bb0ac8a10c8fa35df92f704
Due: none

feat: format JSON schemas with jq and update download schema function
  .github/workflows/update-flake-lock.yml
  scripts_py/cli/sync_schemastore_index.py
Due: yamllint, actionlint

Notes added by 'git notes add'
  ff/3709acc2ad7c6f7744818f7c9efeeb0a355bd2
Due: none

feat: add glow terminal markdown viewer to development packages
  home/modules/devtools.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  6b/d78c6b00f8cd9995382f01fdc9f951d416538c
Due: none

feat: add fw16 host and factor shared system config
  flake.lock
  flake.nix
  hosts/common/home-work.nix
  hosts/common/home.nix
  hosts/common/system.nix
  hosts/fw16/configuration.nix
  hosts/fw16/hardware-configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  49/ffbfbd642911f80cedc308c61d490bed8932a6
Due: none

feat: add disko declarative disk layout for fw16
  flake.lock
  flake.nix
  hosts/fw16/configuration.nix
  hosts/fw16/disk-config.nix
  hosts/fw16/hardware-configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  1a/5921b39a28426d1e231b0ec601ca7a7c7460b5
Due: none

feat: add zellij and openclaw for tapiiri-wsl
  hosts/standalone/tapiiri-wsl/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  a3/b13ab60269107765a3f614d796bf7390aa64bc
Due: none

feat: add zellij and openclaw to tapiiri-wsl, add check:nix:homes eval task
  .pre-commit-config.yaml
  devenv.nix
  hosts/standalone/tapiiri-wsl/home.nix
  tests/test_devenv_task_coverage.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  05/ac5cc045b0b44782f93fe0d4fb38b6823ad595
Due: none

fix: hm-switch parameters
  home/modules/nix-caches.nix
Due: alejandra-fmt

feat: add devenv to tapiiri-wsl packages
  hosts/standalone/tapiiri-wsl/home.nix
Due: alejandra-fmt

fix: add devenv.cachix.org to binary caches
  cachix-caches.nix
Due: alejandra-fmt
