Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nix-flake-check
        name: nix flake check
        entry: nix develop ./dev -c nix flake check
        language: system
        pass_filenames: false
      - id: alejandra-fmt
        name: alejandra (nix fmt)
        entry: nix develop ./dev -c alejandra
        language: system
        files: '(^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)'
      - id: yamllint
        name: yamllint
        entry: nix develop ./dev -c yamllint
        language: system
        files: '.*\.ya?ml$'
      - id: actionlint
        name: actionlint
        entry: nix develop ./dev -c actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: ruff-check
        name: ruff check
        entry: nix develop ./dev -c ruff check scripts_py tests
        language: system
        pass_filenames: false
      - id: python-pytest
        name: pytest
        entry: nix develop ./dev -c pytest -q tests
        language: system
        pass_filenames: false

feat: add standalone Home Manager support for Ubuntu WSL and enhance configuration options
  .github/copilot-instructions.md
  docs/site/guides/rebuild.md
  docs/site/guides/wsl.md
  docs/site/index.md
  flake.nix
  home/modules/devtools.nix
  home/modules/scripts.nix
  hosts/standalone/ilmari/home.nix
  hosts/standalone/tapiiri-wsl/home.nix
  hosts/standalone/tapiiri/home.nix
  mkdocs.yml
  scripts/hm-switch
  scripts_py/cli/cached_check.py
  scripts_py/cli/hm_switch.py
  tests/test_cached_check.py
  tests/test_hm_switch.py
  tests/test_scripts_wrappers.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  3e34040894d6356cdee4fef1ffd25a910d7fbd72
Due: none

feat: enhance Tailscale configuration with operators support
  hosts/nixos/configuration.nix
  modules/tailscale.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  b5fe2a4772522540edadd46e22c471b3761fe202
Due: none

feat: update Tailscale configuration to support a single operator
  hosts/nixos/configuration.nix
  modules/tailscale.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  82090f153a33233e5155cb578f6add19c32b0964
Due: none

feat: add Dokploy service configuration and integration
  flake.lock
  flake.nix
  hosts/nixos/configuration.nix
  modules/dokploy.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  6d2e82de77962feb58800b8ade6452a22dc8dc8c
Due: none

feat: add activation script for Dokploy password management
  modules/dokploy.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  3b440fe754520db70f552702dc0582249eb06a80
Due: none

feat: add Tailscale funnel configuration for local service exposure
  hosts/nixos/configuration.nix
  modules/tailscale.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  a01745935a7080be8647127541fe7afce57c10c7
Due: none

feat: add supabase-cli to development packages
  home/modules/devtools.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  d3a1e8042f2848d8ae07ebe49275394116a3e747
Due: none

feat: increase Tailscale funnel service start timeout to 90 seconds
  modules/tailscale.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  34b9716dc3eb99290ad27fd30a1c397a926e1b61
Due: none

feat: add additional source files for home-manager switch wrapper
  docs/site/guides/wsl.md
  flake.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  2a3911df2006955f428c6a473f75baca466546d5
Due: none

feat: add cloudflared to development and standalone home packages
  home/modules/devtools.nix
  hosts/standalone/tapiiri-wsl/home.nix
Due: alejandra-fmt

feat: add setup-wsl-ssh script for OpenSSH configuration on Ubuntu WSL with Tailscale support
  docs/site/guides/rebuild.md
  docs/site/guides/wsl.md
  flake.nix
  home/modules/scripts.nix
  scripts/setup-wsl-ssh
  scripts_py/cli/setup_wsl_ssh.py
  tests/test_scripts_wrappers.py
  tests/test_setup_wsl_ssh.py
Due: alejandra-fmt

Notes added by 'git notes add'
  5b4610c8f57a4b4fdc911b28db551330fb710578
Due: none

Add dokploy-cli package definition for Nix
  home/features/dokploy/default.nix
  home/modules/default.nix
  hosts/nixos/home-work.nix
  hosts/nixos/home.nix
  hosts/standalone/ilmari/home.nix
  hosts/standalone/tapiiri/home.nix
  pkgs/devtools/dokploy-cli-package-lock.json
  pkgs/devtools/dokploy-cli.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  ffe1f6653b5630d15d2089389f67dfd42211bb3d
Due: none

feat: enhance home-manager command building with flake URI support and fallback to nix run
  docs/site/guides/wsl.md
  flake.nix
  scripts_py/cli/hm_switch.py
  tests/test_hm_switch.py
Due: alejandra-fmt

Notes added by 'git notes add'
  2d71c82870df9793b2fb0a9cb1ea4559bacc1466
Due: none

feat: update flake.nix to use a fork-friendly repo identity and simplify upstream URL handling
  flake.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  b66d9181bcf66813a8f023e36716be32733e882c
Due: none

Notes added by 'git notes add'
  319c41a9362552c0912c76bbbd0bb736422e5dc2
Due: none

feat: add skills for auditing, checking, committing, scanning, and settings configuration
  .claude/settings.json
  .claude/skills/audit/SKILL.md
  .claude/skills/check/SKILL.md
  .claude/skills/commit/SKILL.md
  .claude/skills/scan/SKILL.md
Due: none

Notes added by 'git notes add'
  350c8b68814573e4c255df3793744f9eee4747f7
Due: none

refactor: simplify default_profile function and update related tests
  scripts_py/cli/hm_switch.py
  tests/test_hm_switch.py
Due: none

Notes added by 'git notes add'
  833c3df05c236a531232269f71b2d1a1246c03b2
Due: none

feat: add bash configuration to load session variables in every shell
  hosts/standalone/tapiiri-wsl/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  ffa1fa8d67d049db9635d23a6763c605fc65a0f2
Due: none

feat: add _is_remote_flake_ref function and update command building with refresh option for remote flakes
  scripts_py/cli/hm_switch.py
  tests/test_hm_switch.py
Due: none

Notes added by 'git notes add'
  80d5dec07143f15ff6b05dfa7cd1f40daa5b59c6
Due: none

feat: ensure Home Manager session variables are sourced in every shell by patching rc files
  hosts/standalone/tapiiri-wsl/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  e799c5290bba4f2017c83e5efc5fc26142599c3c
Due: none

feat: add Claude Code extension to VS Code configuration
  home/features/vscode/default.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  57becac33e97bbb03e40fb76785bbc04cefdc871
Due: none
