Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

alejandra-fmt:
  name: alejandra (nix fmt)
  entry: nix develop ./dev -c alejandra
  language: system

yamllint:
  name: yamllint
  entry: nix develop ./dev -c yamllint
  language: system

actionlint:
  name: actionlint
  entry: nix develop ./dev -c actionlint
  language: system

Notes added by 'git notes add'
  2d92913bc10a4670b731444a28d761e35431ab71
Due: none

chore: autoapproval for devenv commands in ai chat
  .vscode/settings.json
Due: none

Notes added by 'git notes add'
  4ee23dd643c0dfeb37a1a325e5a6d78e1a39e154
Due: none

Notes added by 'git notes add'
  e3c90e31057ccd9cf66928eb786c75d8470ed075
Due: none

feat: add upstream URL and ref options for rebuild helper; enhance configuration management
  README.md
  flake.nix
  hosts/nixos/configuration.nix
  modules/rebuild.nix
  result
  scripts_py/cli/rebuild.py
  tests/test_rebuild.py
Due: alejandra-fmt

Notes added by 'git notes add'
  83ff0cb0ca7e4bb2013e92d075a6e0635278ceae
Due: none

fix(rebuild): flake wrapper defaults
  .gitignore
  README.md
  flake.nix
  result
  tests/test_rebuild.py
Due: alejandra-fmt

Notes added by 'git notes add'
  cde9407bd3a8e79d8bdc00cfe86fdc0c4e6933b2
Due: none

feat: implement rebuild helper and cleanup legacy symlink for improved development workflow
  dotfiles/home/bashrc
  scripts_py/cli/setup_links.py
  tests/test_setup_links.py
Due: none

Notes added by 'git notes add'
  4b337d963f2bac5487f7b3fc0bf60c0a8322b962
Due: none

feat: add offline fallback support for rebuild command and update configuration options
  README.md
  dotfiles/home/bashrc
  modules/rebuild.nix
  scripts_py/cli/rebuild.py
  tests/test_rebuild.py
Due: alejandra-fmt

Notes added by 'git notes add'
  4a6311da2b53cb2fc79b8e633757a6a9f3be6eaf
Due: none

feat: set offline ok for rebuild script
  hosts/nixos/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  8539f535d67c0c34b9fa8ea812d9916b3f50972f
Due: none

fix(rebuild): enhance offline fallback error handling in rebuild function
  dotfiles/home/bashrc
Due: none

Notes added by 'git notes add'
  677746b2e0bfbe9b857bc6598843b47a8ac3fbf4
Due: none

fix(rebuild): ensure synchronous output capture in rebuild function for accurate error handling
  dotfiles/home/bashrc
Due: none

Notes added by 'git notes add'
  d801668177b61448d19498b65d70d700d0207a67
Due: none

feat(rebuild): implement dispatcher for rebuild tool with online/offline handling
  README.md
  dotfiles/home/bashrc
  flake.nix
  scripts/rebuild
  scripts/rebuild-inner
  scripts_py/cli/rebuild_dispatch.py
  scripts_py/cli/setup_links.py
  scripts_py/rebuild_dispatch.py
  tests/test_rebuild_dispatch.py
  tests/test_setup_links.py
Due: alejandra-fmt

Notes added by 'git notes add'
  eb13d3b3d5a99c98832c67962a113c0188cb35be
Due: none

fix: remove trailing newlines in rebuild and rebuild-inner scripts
  scripts/rebuild
  scripts/rebuild-inner
  tests/test_setup_links.py
Due: none

Notes added by 'git notes add'
  af4e6f707f98ced50535f878b63184fdc89d206b
Due: none

flake: export rebuild-inner app
  flake.nix
  scripts_py/cli/rebuild_dispatch.py
  tests/test_rebuild_dispatch.py
Due: alejandra-fmt

Notes added by 'git notes add'
  18ba408b183d69ad90fe8a97c5949bdb77fe512c
Due: none

Add Scorecard supply-chain security workflow
  .github/workflows/scorecard.yml
Due: yamllint, actionlint

feat: tool auditing cli tool
  devenv.nix
  scripts/audit-tooling
  scripts_py/audit_tooling.py
  scripts_py/cli/audit_tooling.py
  scripts_py/lib/tooling_audit.py
  scripts_py/lib/tooling_discovery.py
  tests/test_scripts_wrappers.py
  tests/test_tooling_audit.py
  tooling-audit.toml
Due: alejandra-fmt

fix: add SECRETSPEC_PROVIDER environment variable to update-flake-lock workflow
  .github/workflows/update-flake-lock.yml
Due: yamllint, actionlint

Notes added by 'git notes add'
  74c4809d7c124e66a502f0a52e02287b123ac5a0
Due: none

chore: fix yamllint warnings and errors
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/update-flake-lock.yml
  .markdownlint-cli2.yaml
  .yamllint
  devenv.yaml
Due: yamllint, actionlint

fix: move SECRETSPEC_PROVIDER environment variable to job level
  .github/workflows/update-flake-lock.yml
Due: yamllint, actionlint

Notes added by 'git notes add'
  f58aa2a193853fd066568b88ff9631fdcf7d0d0d
Due: none

Notes added by 'git notes add'
  bd7d6274c8f2bbef57dfd3ffaf7e0bffadee4ead
Due: none

fix: add git-hooks nix input to devenv
  devenv.yaml
Due: yamllint

Notes added by 'git notes add'
  89205aaa5134f3b5ede74c342e660455c50db376
Due: none

fix: update devenv task commands to include -m all for consistency
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .github/workflows/update-flake-lock.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  devenv.nix
  scripts_py/ci/attest_ci_checks.py
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  d2957de578d8f0fd58753735f8c590d0710582db
Due: none

feat: add test for pre-commit hook coverage of leaf tasks in check:all
  devenv.nix
  tests/test_devenv_task_coverage.py
Due: alejandra-fmt

Notes added by 'git notes add'
  fc1c441a5f2033c6dcab29555d4af6a2e7313d51
Due: none

fix: update pre-commit hooks for Python linting and testing configurations
  .pre-commit-config.yaml
  devenv.nix
Due: alejandra-fmt, yamllint

Path conditions:
  alejandra-fmt: any of: (^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)
  yamllint: any of: .*\.ya?ml$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
