Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nix-flake-check
        name: nix flake check
        entry: nix develop ./dev -c nix flake check
        language: system
        pass_filenames: false
      - id: alejandra-fmt
        name: alejandra (nix fmt)
        entry: nix develop ./dev -c alejandra
        language: system
        files: '(^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)'
      - id: yamllint
        name: yamllint
        entry: nix develop ./dev -c yamllint
        language: system
        files: '.*\.ya?ml$'
      - id: actionlint
        name: actionlint
        entry: nix develop ./dev -c actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: ruff-check
        name: ruff check
        entry: nix develop ./dev -c ruff check scripts_py tests
        language: system
        pass_filenames: false
      - id: python-pytest
        name: pytest
        entry: nix develop ./dev -c pytest -q tests
        language: system
        pass_filenames: false

Notes added by 'git notes add'
  0e/34cf596717431ad1a3415786e7fd80abf71619
Due: none

feat: auto-wrap fw16-install in shared tmux session
  hosts/installer/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  1b/337ed58b9cbaf96a4b6d1c501f6ca24a13667e
Due: none

fix: use full substituters/trusted-public-keys override in nixos-install
  hosts/installer/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  c5/93855295aa417f9841421eb930824556b7ec04
Due: none

fix: use HTTPS upstream URL so mirror works without SSH keys
  hosts/common/system.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  b2/9503cf3a1716586d9193496e26245f4cbb8e1b
Due: none

feat: enable fingerprint reader on Framework 16
  hosts/fw16/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  fa/d69e2ec307f493051fd17e3dd101a4acab0366
Due: none

Notes added by 'git notes add'
  51/d8130e5e021f3973bbccb9bb500695872c8661
Due: none

fix: upgrade Pygments to 2.20.0 to resolve GHSA-5239-wwwm-4pmq
  docs/requirements.in
  docs/requirements.txt
Due: none

Notes added by 'git notes add'
  08/9be4edd513b6d688abbac8878fd62dec90bfc3
Due: none

feat: expose Ollama on tailscale0 interface for tailnet LLM access
  hosts/fw16/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  50/9d56f07203e4896de00c7161b6826d53c43939
Due: none

feat: enable Affinity v3 on fw16 via affinity-nix
  hosts/fw16/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  b9/21809d207f99df009720049053a25f99331fda
Due: none

feat: add Garnix binary cache for affinity-nix pre-built closures
  cachix-caches.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  7a/a065737bb5a4f019d1c535271aeb874bee6209
Due: none

feat(dev): add vaisala-pilot devHost module to fw12 (nixos host)
  flake.lock
  flake.nix
  hosts/nixos/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  cd/f404b500b9275fdee252bda0b32a26308ba98b
Due: none

feat(ci): base host for CI closure caching; devHost scoped to nixos host
  .github/workflows/ci.yml
  flake.lock
  flake.nix
  hosts/base/configuration.nix
  hosts/nixos/configuration.nix
Due: alejandra-fmt, yamllint, actionlint

Notes added by 'git notes add'
  4f/be2a87263c6f192ce0ebde91adc729cf5b3268
Due: none

chore(deps): update vaisala-pilot to bd21fba (cert + ACL permission fixes)
  flake.lock
Due: none

Notes added by 'git notes add'
  f0/c0a4eae0f8454f2c7de8e128d8feafbd95b0d1
Due: none

chore(deps): update vaisala-pilot (PATH fix for nextjs dev service)
  flake.lock
Due: none

Notes added by 'git notes add'
  f3/c9fa992af0c394fee71213836971c01ff40a75
Due: none

chore(deps): update vaisala-pilot (mkForce PATH for nextjs dev service)
  flake.lock
Due: none

Notes added by 'git notes add'
  d7/8e0e6d63bebc32eea228717523fd1978d892bd
Due: none

chore(deps): update vaisala-pilot (dev UX: manual nextjs, status banner)
  flake.lock
Due: none

Notes added by 'git notes add'
  4b/2ba06ae5fdd8a083235e661703b744b0e05ff2
Due: none

feat(fw16): enable vaisala-pilot devHost (mirror nixos host)
  flake.lock
  hosts/fw16/configuration.nix
Due: alejandra-fmt

chore(deps): update vaisala-pilot (DB peer auth for developer user)
  flake.lock
Due: none

Notes added by 'git notes add'
  38/e9bae2ad582ff8fd462c971dbc77783b3c83c2
Due: none

chore(deps): update affinity-nix; add Garnix cache to all hosts
  flake.lock
  hosts/common/system.nix
Due: alejandra-fmt

fix(affinity): switch to overlay + affinity-v3; use global pkgs in HM
  home/modules/affinity.nix
  hosts/common/system.nix
Due: alejandra-fmt

fix(hm): remove nixpkgs.config from HM modules; covered by useGlobalPkgs
  home/modules/core-work.nix
  home/modules/core.nix
Due: alejandra-fmt

chore(fw16): disable Affinity until upstream hash is fixed
  hosts/fw16/configuration.nix
Due: alejandra-fmt

chore(affinity): disable completely until upstream hash is fixed
  hosts/standalone/tapiiri/home.nix
Due: alejandra-fmt

chore(schemastore): refresh schema cache
  schemas/schemastore-index.json
Due: none

Notes added by 'git notes add'
  4a/3257077e008cce359c4cb15e866bf7475b37eb
Due: none
