Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nix-flake-check
        name: nix flake check
        entry: nix develop ./dev -c nix flake check
        language: system
        pass_filenames: false
      - id: alejandra-fmt
        name: alejandra (nix fmt)
        entry: nix develop ./dev -c alejandra
        language: system
        files: '(^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)'
      - id: yamllint
        name: yamllint
        entry: nix develop ./dev -c yamllint
        language: system
        files: '.*\.ya?ml$'
      - id: actionlint
        name: actionlint
        entry: nix develop ./dev -c actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: ruff-check
        name: ruff check
        entry: nix develop ./dev -c ruff check scripts_py tests
        language: system
        pass_filenames: false
      - id: python-pytest
        name: pytest
        entry: nix develop ./dev -c pytest -q tests
        language: system
        pass_filenames: false

refactor: rename host nixos → fw12
  flake.nix
  hosts/base/configuration.nix
  hosts/fw12/configuration.nix
  hosts/fw12/hardware-configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  48/fff36b36f06d79602fcf00220e871251ec52cd
Due: none

feat: add per-host nix eval checks + direnv to devtools
  .pre-commit-config.yaml
  devenv.nix
  flake.lock
  home/modules/devtools.nix
  scripts_py/lib/cached_check.py
Due: alejandra-fmt, yamllint

Notes added by 'git notes add'
  89/689c081972891a8f06254e0960524b28b67e4c
Due: none

feat: install Slack for both tapiiri and ilmari
  home/modules/default.nix
  home/modules/slack.nix
  hosts/common/home-work.nix
  hosts/common/home.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  9b/2b86a02bc3aced73a81e53a997503f1a34598b
Due: none

feat: prepare ilmari as primary work user on fw12
  hosts/common/system.nix
  hosts/fw12/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  01/e1c290f068154992f56bc1a28967c241d2581a
Due: none

feat: add direnv VS Code extension to managed profile
  home/features/vscode/default.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  1a/5a98424736efc9a81dfe0aee8c3a4ebf3ae7bf
Due: none

fix: restructure needed packages to fix rebuild
  hosts/common/home-work.nix
  hosts/common/system.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  12/4049413ab4e70a89741bf97c336c854d2c83d7
Due: none

fix(infra): update vaisala-pilot to fix migrate service on empty dir
  flake.lock
Due: none

Notes added by 'git notes add'
  25/6c466834ce4b80b5fdeddb2e0d30b8cf562d26
Due: none

feat: add tapiiri as a developer user for local development
  hosts/fw12/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  a2/279e7ef70de639790f70dd756b64a3dea718d8
Due: none

fix: configure GNOME Keyring auto-unlock with login password
  hosts/common/system.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  bf/b4218d3811a44d8cf238c98404f751a65f2534
Due: none

fix(fw16): rename devHost.user to devHost.users list
  flake.lock
  hosts/fw12/configuration.nix
  hosts/fw16/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  94/1d83bb4efa938272599d2c63cb52ccbdaf2888
Due: none

chore: update vaisala-pilot (Caddy flush_interval -1 for SSE)
  flake.lock
Due: none

Notes added by 'git notes add'
  cd/1b9df488ee0b4ad5f174811c34d1ef8446cbb6
Due: none

chore: update vaisala-pilot flake
  flake.lock
Due: none

Notes added by 'git notes add'
  ef/8de8c3693fbf904111687a3a0fc6d37ef45c73
Due: none

feat: wire ATEX engine binary into dev host services
  flake.lock
  hosts/fw12/configuration.nix
  hosts/fw16/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  61/f02604eaa6efb9f4a7b12a6156f608370231ba
Due: none

Notes added by 'git notes add'
  24/bf5b3be35c81999e99c53c0d6bff7df62c9f9b
Due: none

chore: update pilot flake lock
  flake.lock
Due: none

Notes added by 'git notes add'
  47/f8b6b7d8c6651fab5b54ba637a49d6a095559f
Due: none

feat: enable nix-direnv in devtools module
  home/modules/devtools.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  55/39fea186938dde678b328e67d708c8de67ec22
Due: none

fix: wire HM bash init hooks into custom bashrc
  dotfiles/home/bashrc
  home/modules/shell-bash.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  c3/5c9bf50d89dd5bc82659820abe9be3817b133b
Due: none

fix: upgrade urllib3 to 2.7.0 for CVE fixes
  docs/requirements.in
  docs/requirements.txt
Due: none

Notes added by 'git notes add'
  9b/3ed4e8a6bbccd3deb980628ca1648c404bc94b
Due: none

feat: include xtdb-test dev host
  flake.lock
  flake.nix
  hosts/fw12/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  c0/86aa9cd035638c120bd6eebe82eb9633874fc0
Due: none

feat(fw12): use specialisations to switch between project service stacks
  hosts/fw12/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  2a/d8212c90852ed27baa153debb79e9de5509816
Due: none

chore: disable zellij bash integration
  home/modules/zellij.nix
Due: alejandra-fmt
