Repository Tapiiri/nixos-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra-fmt, yamllint, actionlint

alejandra-fmt:
  name: alejandra (nix fmt)
  entry: nix develop ./dev -c alejandra
  language: system

yamllint:
  name: yamllint
  entry: nix develop ./dev -c yamllint
  language: system

actionlint:
  name: actionlint
  entry: nix develop ./dev -c actionlint
  language: system

fix: open a GDM greeter when the target user has no session
  home/modules/scripts.nix
  scripts/switch-user
  scripts_py/cli/switch_user.py
  tests/test_switch_user.py
Due: alejandra-fmt

feat: add SonicPi
  hosts/fw12/configuration.nix
Due: alejandra-fmt

Notes added by 'git notes add'
  21/720841fe0e93d6229623e81853f54c67f550ac
Due: none

fix: stop efi-boot-order aborting when a pattern matches nothing
  modules/efi-boot-order.nix
Due: alejandra-fmt

feat: enable slack for ilmari-offeri
  hosts/common/home-offeri.nix
Due: alejandra-fmt

feat: package outlook-for-linux from the upstream .deb
  docs/site/architecture.md
  home/modules/default.nix
  home/modules/outlook.nix
  pkgs/apps/outlook-for-linux.nix
Due: alejandra-fmt

feat: give ilmari-offeri the Outlook desktop client
  hosts/common/home-offeri.nix
  hosts/standalone/ilmari-offeri/home.nix
Due: alejandra-fmt

fix(ci): run the flake-pinned devenv CLI instead of the registry's
  .github/workflows/ci.yml
  .github/workflows/update-flake-lock.yml
  flake.nix
Due: alejandra-fmt, yamllint, actionlint

feat: add a neovim module and enable it for tapiiri and ilmari-offeri
  home/modules/default.nix
  home/modules/neovim.nix
  hosts/common/home-offeri.nix
  hosts/common/home.nix
  hosts/standalone/ilmari-offeri/home.nix
  hosts/standalone/tapiiri/home.nix
Due: alejandra-fmt

fix(cached-check): run the flake-pinned devenv for the nested shell
  scripts_py/cli/cached_check.py
  tests/test_cached_check.py
Due: none

Path conditions:
  alejandra-fmt: any of: (^flake\.nix$|^(hosts|home|dev)/.*\.nix$|.*\.nix)
  yamllint: any of: .*\.ya?ml$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
